.lightYellowButton{
    background-color: lightyellow;
}

.twoColumnGrid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10;
}

.orangeDiv{
    background-color: orange;
}

.whiteDiv{
    background-color: white;
}

.redBorder{
    border: 2px solid red;
}

.greenBorder{
    border: 2px solid green;
}